terraform {
  backend "s3" {
    bucket         = "REPLACE_AFTER_APPROVAL"
    key            = "walrus/foundation/terraform.tfstate"
    region         = "REPLACE_AFTER_APPROVAL"
    encrypt        = true
    dynamodb_table = "REPLACE_AFTER_APPROVAL"
  }
}
